<!--
 * @Author: Xyhao
 * @Date: 2025-10-10 09:14:35
 * @Description: 安徽爱喜网络科技有限公司
 -->
<style>
    body.darktheme .panel-statistics h4 {
        color: #ccc;
    }

    .panel-statistics h4 {
        color: #444;
        font-weight: bold;
        font-size: 14px;
    }

    .panel-statistics h3 {
        font-weight: 500;
        font-size: 14px;
        color: #333;
    }

    .panel-statistics .statistics-value {
        font-size: 14px;
        color: #666;
    }

    .panel-statistics em {
        font-style: normal;
    }

    .panel-statistics .pull-right {
        padding-right: 10px;
    }

    .panel-statistics .table thead tr th {
        font-weight: normal;
    }

    .panel-statistics .table tbody tr td {
        font-weight: normal;
        vertical-align: middle;
    }

    .panel-statistics .table tbody tr td p {
        margin: 0;
    }

    #echarts1 textarea {
        display: block;
    }

    select.model_id {
        min-width: 60px;
    }
</style>

<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日入金订单</h4>
                    <h3>{$today_rujin_total}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="iconfont icon-rujin fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日入金总额(USDT)</h4>
                    <h3>{$today_rujin_user_usdt}</h3>
                </div>

                <div class="pull-right" style="color:#ffc8c8;">
                    <i class="iconfont icon-rujin2 fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日入金总额(CNY)</h4>
                    <h3>{$today_rujin_total_money}</h3>
                </div>

                <div class="pull-right" style="color:#c8e3ff;">
                    <i class="iconfont icon-tixian2 fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日入金返佣(USDT)</h4>
                    <h3>0.00</h3>
                </div>

                <div class="pull-right" style="color:#ffe9c8;">
                     <i class="iconfont icon-tixian2 fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日入金汇率差+手续费</h4>
                    <h3>{$today_rujin_profit}</h3>
                </div>

                <div class="pull-right" style="color:#ffe9c8;">
                    <i class="iconfont icon-shouxufei3 fa-4x"></i>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日出金订单数量</h4>
                    <h3>{$today_chujin_total}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="iconfont icon-chujin fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日出金总额(USDT)</h4>
                    <h3>{$today_chujin_user_usdt}</h3>
                </div>

                <div class="pull-right" style="color:#ffc8c8;">
                     <i class="iconfont icon-fanyong fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日出金总额(CNY)</h4>
                    <h3>{$today_chujin_total_money}</h3>
                </div>

                <div class="pull-right" style="color:#c8e3ff;">
                     <i class="iconfont icon-ziyuan fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日出金返佣(USDT)</h4>
                    <h3>0.00</h3>
                </div>

                <div class="pull-right" style="color:#ffe9c8;">
                     <i class="iconfont icon-rujin1 fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>今日出金汇率差+手续费</h4>
                    <h3>{$today_chujin_profit}</h3>
                </div>

                <div class="pull-right" style="color:#ffe9c8;">
                     <i class="iconfont icon-shouxufei1 fa-4x"></i>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="row" style="margin:15px 0;">

    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>商户余额</h4>
                    <h3>{$supplyUsdt}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>商户已提现余额(USDT)</h4>
                    <h3>{$total_supply_number}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>商户充值总额(USDT)</h4>
                    <h3>{$supply_chongzhi}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>    
      <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>商户入金余额(USDT)</h4>
                    <h3>{$rujin_supply_usdt}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>商户出金余额(USDT)</h4>
                    <h3>{$cj_supply_usdt}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>    
</div>



<div class="row" style="margin:15px 0;">

    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>承兑商总额</h4>
                    <h3>{$userUsdt}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>承兑商已提现总额(USDT)</h4>
                    <h3>0</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>承兑商充值总额(USDT)</h4>
                    <h3>{$user_chongzhi_number}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>    
      <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>承兑商入金总额(USDT)</h4>
                    <h3>{$rj_user_usdt}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-2">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>承兑商出金总额(USDT)</h4>
                    <h3>{$cj_user_usdt}</h3>
                </div>

                <div class="pull-right" style="color:#c8cfff;">
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>    
</div>