# 忽略目录下的所有文件
/public/otc/*
/public/cash/*
/view/unpackage/cache/*
/view/unpackage/debug/*
/view/unpackage/dist/*
/view/unpackage/release/*
/payorder/unpackage/*
/application/database.php
/runtime/*
/runtime/cache/*