# 忽略目录下的所有文件
/application/database.php
/view/unpackage/cache/*
/view/unpackage/debug/*
/view/unpackage/dist/*
/view/unpackage/release/*
/thinkphp/*
/payorder/unpackage/*
/application/database.php
/runtime/*
/runtime/cache/*