<!--
 * @Author: 提莫队长 =
 * @Date: 2025-10-10 09:14:35
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2026-01-29 14:46:06
 * @FilePath: \xyh_xing\application\admin\view\general\index\index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<div class="panel panel-default panel-intro">

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <h1>尊敬的商户{$admin.nickname|htmlentities},欢迎您登录系统！</h1>
            <div class="tongjiBox">
                <div class="card">
                    <div class="card-body">
                        账户余额：{$supply_info.usdt} USDT
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        冻结余额：{$supply_info.freeze_usdt} USDT
                    </div>
                </div>
            </div>
            <!-- <div class="tongjiBox">
                <div class="card">
                    <div class="card-body">
                        兑入：{$supply_info.duiru} 
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        兑出：{$supply_info.duichu} 
                    </div>
                </div>
            </div>      -->
            <div class="tongjiBox">
                <div class="card">
                    <div class="card-body">
                        access_key :  {$supply_info.access_key} 
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <input type="hidden" id="access_secret" value="{$supply_info.access_secret}">
                        access_secret :  <span id="secret" onclick="looker()">***</span>   
                    </div>
                </div>
            </div> 
            <div class="tongjiBox">
                <div class="card">
                    <div class="card-body">
                        兑入时间限制：7:30 - 22:30
                    </div>
                </div>
            </div>   
            
            <div class="tongjiBox">
                <div class="card">
                    <div class="card-body">
                        开发文档：<a href="https://docs.apipost.net/docs/detail/4d28ae4d88f5000?target_id=1288f370f15b58&locale=zh-cn" target="_blank">点击查看</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    var access_secret = document.getElementById('access_secret').value
    function looker() {
        var secret = document.getElementById('secret')
        if (secret.innerHTML == '***') {
            secret.innerHTML = access_secret
        } else {
            secret.innerHTML = '***'
        }
    }
</script>

<style>
    .tongjiBox {
        display: flex;
    }

    .card {
        margin: 10px;
    }

    .card-body {
        text-align: center;
    }
    #secret {
        display: inline-block;
        cursor: pointer;
    }
</style>