<div class="panel panel-default panel-intro">

    <div class="panel-heading" style="background-color: #fff;">
        <div class="row">
            <div class="col-sm-6">
                <div class="item_header">可用金额</div>
                <div class="item_value">{$supply_info.usdt }</div>
            </div>
            <div class="col-sm-6">
                <div class="item_header">冻结金额</div>
                <div class="item_value">{$supply_info.freeze_usdt }</div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <!-- 第一步：充值信息 -->
        <div id="step1" class="active-step step-content">
            <form id="transferForm">
                <input type="hidden" id="supply_money"  value="{$supply_info.usdt }" class="form-control"></input>
                <input type="hidden" id="access_key" name="access_key" value="{$supply_info.access_key }" class="form-control"></input>
                <div class="item">
                    <label class="block" for="realName">姓名:</label>
                    <div class="relative">
                        <input type="text" id="realName" class="form-control">
                    </div>
                </div>
                <div class="item">
                    <label class="block" for="cardNumber">{:__('Cardnumber')}:</label>
                    <div class="relative">
                        <input type="text" id="cardNumber" name="cardNumber" class="form-control">
                    </div>
                </div>
                <div class="item">
                    <label class="block" for="bankName">{:__('Bankname')}:</label>
                    <div class="relative">
                        <input type="text" id="bankName" name="bankName" class="form-control">
                    </div>
                </div>
                <div class="item">
                    <label class="block" for="bankBranchName">{:__('Bankbranchname')}:</label>
                    <div class="relative">
                        <input type="text" id="bankBranchName" name="bankBranchName" class="form-control">
                    </div>
                </div>                                         
                <div class="item">
                    <label class="block" for="Withdrawamount">{:__('Withdrawamount')}:</label>
                    <div class="relative">
                        <input type="text" id="Withdrawamount" name="Withdrawamount" class="form-control">
                    </div>
                </div> 
                <button type="button" onclick="submitTransfer()" class="w-full nextbtn">下一步</button>
            </form>
        </div>
    </div>
</div>


<script>
    let currentStep = 1;
    const transferData = {};

    function uploadImg(){
        require(['upload'], function (Upload) {
            Upload.api.plupload($(".faupload"), function (data, ret) {
                let url = data.fullurl;
                $("#c-pay_ewm_image").val(url);
                transferData.pay_ewm_image = url;
            });
        });
    }


    function submitTransfer() {


        const realName = document.getElementById('realName').value;
        const cardNumber = document.getElementById('cardNumber').value;
        const bankName = document.getElementById('bankName').value;
        const bankBranchName = document.getElementById('bankBranchName').value;
        const Withdrawamount = document.getElementById('Withdrawamount').value;
        const supply_money= document.getElementById('supply_money').value;
        const access_key= document.getElementById('access_key').value;

        if (!realName) {
            alert('请输入开户姓名');
            return;
        }

        if (!cardNumber) {
            alert('请选择开户银行');
            return;
        }
        if (!bankName) {
            alert('请输入支行地址');
            return;
        }
        if (!Withdrawamount) {
            alert('请输入金额');
            return;
        }        
        if (Withdrawamount > supply_money) {
            Toastr.error("提现金额不能大于可用金额"); 
            return;
        }

        transferData.realName = realName;
        transferData.cardNumber = cardNumber;
        transferData.bankName = bankName;
        transferData.bankBranchName = bankBranchName
        transferData.withdrawAmount = Withdrawamount
        transferData.access_key = access_key;

        Fast.api.ajax({
            url: 'order/chujin/addru',
            data: transferData,
            success: function(data) {
                if(data.code == 1){
                    Toastr.success(data.msg);
                    location.reload();
                } else {
                    Toastr.error(data.msg); 
                    location.reload();
                }
            }
        });        
    }
</script>


<style>
    .item_header {
        margin-bottom: 4px;
        color: rgba(0, 0, 0, .45);
        font-size: 14px;
    }

    .item_value {
        color: rgba(0, 0, 0, .85);
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .step-content {
        display: none;
    }

    .active-step {
        display: block;
    }

    .steps {
        display: flex;
    }

    .step {
        display: flex;
        flex: 1 1;
        align-items: center;
        position: relative;
        z-index: 999;
        background-color: #fff;
    }

    .step .box {
        display: flex;
        flex: 1 1;
        align-items: center;
        position: relative;
        z-index: 999;
        background-color: #fff;
    }

    .step-icon {
        width: 32px;
        height: 32px;
        background: #fff;
        border-radius: 50%;
        overflow: hidden;
        color: #666;
        font-size: 16px;
        text-align: center;
        line-height: 200%;
        border: rgba(0, 0, 0, .25) 1px solid;
    }

    .active-step .step-icon {
        width: 32px;
        height: 32px;
        background: #1890ff;
        border-radius: 50%;
        overflow: hidden;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 200%;
    }

    .step-label {
        margin-left: 10px;
        color: rgba(0, 0, 0, .85);
        position: relative;
    }

    .step-label::after {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: -110px;
        display: block;
        width: 99px;
        height: 1px;
        background: #f0f0f0;
        content: "";
    }

    .step_end .step-label::after {
        display: none;
    }

    .step-content {
        display: none;
        width: 500px;
        margin: 40px auto 0;
    }

    .step-content.active-step {
        display: block;
    }

    .item {
        display: flex;
        align-items: center;
        padding:5px 0;
    }

    .item label {
        flex: 0 0 100px;
        height:35px;
        line-height:35px;
    }
    .item label {
        flex: 0 0 100px;
        height:35px;
        line-height:35px;
    }    
    .w-full {
        width:200px;
        height:35px;
        line-height:35px;
    }
    #remark {
        width:300px;
        min-height:60px;
    }

    .nextbtn {
        width: 85%;
        height: 50px;
        background: #1890ff;
        border:none;
        color:#fff;
        line-height: 50px;
        cursor: pointer;
        margin-top: 30px;
    }

    .bg-gray-200 {
        background-color: #f0f0f0;
        width: 200px;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        border:none;
    }
    .bg-blue-500 {
        background-color: #1890ff;
        width: 200px;
        height: 40px;
        line-height: 40px;
        color:#fff;
        border-radius: 4px;
        border:none;

    }

    .space-x-4 {
        margin-top: 30px;
    }
    .paybox {
        display: none;
        overflow: hidden;
    }
</style>